<br>
<h2>Subastas</h2>
<table class="table">
  <tr>
    <th>Id. De la residencia</th>
    <th>Fecha</th>
    <th>Precio actual</th>
    <th>Mejor postor</th>
  </tr>
  <%@auctions.each do |auction|%>
  <tr>
    <td><%= auction.residence_id %></td>
    <td><%= auction.date %></td>
    <td><%= auction.amount %></td>
    <td><%= auction.email %></td>
  </tr>
 <%end%>
</table>
