<h1>Bienvenido a HomeSwitchHome</h1>
<p>Seleccione en la esquina superior derecha si desea trabajar como usuario o como administrador</p>
<img src="https://lh6.googleusercontent.com/UP4k1KGdWvagxMl-yx26-1D1n_GqlJn_VeCq8hQXeHfVGtFEj3lzhRUPo17KtI1lUPXeA_WCRpTcQ5_alsrb=w1920-h957" class="rounded" alt="Responsive image">
