<h1>Bienvenido a HomeSwitchHome</h1>
<p>Seleccione en la esquina superior derecha si desea trabajar como usuario o como administrador</p>

<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="https://images.adsttc.com/media/images/55e6/1d73/8450/b50b/9b00/00c7/slideshow/506da91628ba0d662c00004d_residencia-bj41-r79_img_0882-jpg.jpg?1441144167" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="http://www.cuidadosdignos.org/wp-content/nuevo/LOMBARDIA4.jpg" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="https://3.bp.blogspot.com/-egZODanaPAw/U5TW47OIhKI/AAAAAAAAwF8/PN2VhFetFtM/s1600/estilo-rustico-mezclado-con-el-lujo-residencia-burlingame-1.jpg" alt="Third slide">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Anterior</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Siguiente</span>
  </a>
</div>
